<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Latest Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
    <ol class="list-group">
        {% for request in requests %}
            <li class="list-group-item">
                {{ request.method }}<br>
                {{ request.get_as_json() }}<br>
                {{ request.post_as_json() }}<br>
                {{ request.body }}
            </li>
        {% else %}
            <li class="list-group-item"><em>Unbelievable! No requests so far!</em></li>
        {% endfor %}
    </ol>
</body>
</html>